<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/zhe4_jiang1_hang2_zhou1.js"></script>

</head>
<body>
    <div id="acbf2f819f744c9daa67d4d91b59401c" style="width:900px; height:500px;"></div>
    <script>
        var chart_acbf2f819f744c9daa67d4d91b59401c = echarts.init(
            document.getElementById('acbf2f819f744c9daa67d4d91b59401c'), 'white', {renderer: 'canvas'});
        var option_acbf2f819f744c9daa67d4d91b59401c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u5546\u5bb6A",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u676d\u5dde",
            "data": [
                {
                    "name": "\u4f59\u676d\u533a",
                    "value": 136
                },
                {
                    "name": "\u897f\u6e56\u533a",
                    "value": 101
                },
                {
                    "name": "\u6ee8\u6c5f\u533a",
                    "value": 134
                },
                {
                    "name": "\u4e0b\u6c99\u533a",
                    "value": 38
                },
                {
                    "name": "\u4e0a\u57ce\u533a",
                    "value": 42
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u5546\u5bb6A"
            ],
            "selected": {
                "\u5546\u5bb6A": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Map-\u5e7f\u4e1c\u5730\u56fe"
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    }
};
        chart_acbf2f819f744c9daa67d4d91b59401c.setOption(option_acbf2f819f744c9daa67d4d91b59401c);
    </script>
</body>
</html>
